@import url("./constants.css");

* {
    border-radius: 8px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Maple Mono Normal NL, Cascadia Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    /* overflow: hidden; */
}

tooltip {
    border: 1px solid #090b10;
    border-radius: 5px;
    background-color: @background;
    color: @gray;
    font-size: 30px;
}

tooltip label {
    color: @foreground;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#tray,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#workspaces {
    background-color: @background;
    color: @foreground;
    border: 1px solid @border;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 10px 20px;
}

#tray,
#power-profiles-daemon {
    padding: 0 12px;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar > * {
    margin: 12px 10px 0 10px;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -2px #ffffff; */
    box-shadow: initial;
}

#custom-media {
  transition: 2s;
  background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 0%, transparent 0%);
}

#custom-media.default {
  color: @gray;
}

#custom-media.spotify {
  color: @green;
}

#custom-media.telegram {
  color: @blue;
}

#custom-media.cmus {
  color: @accent;
}

@keyframes appearance {
  from {
    color: @background;
  }
}

#custom-media.progress-0 {
  background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 0%, transparent 0%);
  animation-name: appearance;
  animation-duration: 750ms;
  animation-timing-function: ease-in;
}
#custom-media.progress-1 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 1%, transparent 1%); }
#custom-media.progress-2 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 2%, transparent 2%); }
#custom-media.progress-3 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 3%, transparent 3%); }
#custom-media.progress-4 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 4%, transparent 4%); }
#custom-media.progress-5 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 5%, transparent 5%); }
#custom-media.progress-6 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 6%, transparent 6%); }
#custom-media.progress-7 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 7%, transparent 7%); }
#custom-media.progress-8 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 8%, transparent 8%); }
#custom-media.progress-9 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 9%, transparent 9%); }
#custom-media.progress-10 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 10%, transparent 10%); }
#custom-media.progress-11 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 11%, transparent 11%); }
#custom-media.progress-12 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 12%, transparent 12%); }
#custom-media.progress-13 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 13%, transparent 13%); }
#custom-media.progress-14 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 14%, transparent 14%); }
#custom-media.progress-15 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 15%, transparent 15%); }
#custom-media.progress-16 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 16%, transparent 16%); }
#custom-media.progress-17 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 17%, transparent 17%); }
#custom-media.progress-18 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 18%, transparent 18%); }
#custom-media.progress-19 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 19%, transparent 19%); }
#custom-media.progress-20 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 20%, transparent 20%); }
#custom-media.progress-21 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 21%, transparent 21%); }
#custom-media.progress-22 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 22%, transparent 22%); }
#custom-media.progress-23 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 23%, transparent 23%); }
#custom-media.progress-24 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 24%, transparent 24%); }
#custom-media.progress-25 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 25%, transparent 25%); }
#custom-media.progress-26 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 26%, transparent 26%); }
#custom-media.progress-27 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 27%, transparent 27%); }
#custom-media.progress-28 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 28%, transparent 28%); }
#custom-media.progress-29 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 29%, transparent 29%); }
#custom-media.progress-30 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 30%, transparent 30%); }
#custom-media.progress-31 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 31%, transparent 31%); }
#custom-media.progress-32 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 32%, transparent 32%); }
#custom-media.progress-33 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 33%, transparent 33%); }
#custom-media.progress-34 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 34%, transparent 34%); }
#custom-media.progress-35 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 35%, transparent 35%); }
#custom-media.progress-36 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 36%, transparent 36%); }
#custom-media.progress-37 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 37%, transparent 37%); }
#custom-media.progress-38 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 38%, transparent 38%); }
#custom-media.progress-39 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 39%, transparent 39%); }
#custom-media.progress-40 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 40%, transparent 40%); }
#custom-media.progress-41 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 41%, transparent 41%); }
#custom-media.progress-42 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 42%, transparent 42%); }
#custom-media.progress-43 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 43%, transparent 43%); }
#custom-media.progress-44 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 44%, transparent 44%); }
#custom-media.progress-45 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 45%, transparent 45%); }
#custom-media.progress-46 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 46%, transparent 46%); }
#custom-media.progress-47 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 47%, transparent 47%); }
#custom-media.progress-48 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 48%, transparent 48%); }
#custom-media.progress-49 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 49%, transparent 49%); }
#custom-media.progress-50 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 50%, transparent 50%); }
#custom-media.progress-51 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 51%, transparent 51%); }
#custom-media.progress-52 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 52%, transparent 52%); }
#custom-media.progress-53 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 53%, transparent 53%); }
#custom-media.progress-54 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 54%, transparent 54%); }
#custom-media.progress-55 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 55%, transparent 55%); }
#custom-media.progress-56 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 56%, transparent 56%); }
#custom-media.progress-57 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 57%, transparent 57%); }
#custom-media.progress-58 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 58%, transparent 58%); }
#custom-media.progress-59 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 59%, transparent 59%); }
#custom-media.progress-60 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 60%, transparent 60%); }
#custom-media.progress-61 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 61%, transparent 61%); }
#custom-media.progress-62 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 62%, transparent 62%); }
#custom-media.progress-63 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 63%, transparent 63%); }
#custom-media.progress-64 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 64%, transparent 64%); }
#custom-media.progress-65 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 65%, transparent 65%); }
#custom-media.progress-66 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 66%, transparent 66%); }
#custom-media.progress-67 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 67%, transparent 67%); }
#custom-media.progress-68 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 68%, transparent 68%); }
#custom-media.progress-69 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 69%, transparent 69%); }
#custom-media.progress-70 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 70%, transparent 70%); }
#custom-media.progress-71 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 71%, transparent 71%); }
#custom-media.progress-72 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 72%, transparent 72%); }
#custom-media.progress-73 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 73%, transparent 73%); }
#custom-media.progress-74 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 74%, transparent 74%); }
#custom-media.progress-75 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 75%, transparent 75%); }
#custom-media.progress-76 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 76%, transparent 76%); }
#custom-media.progress-77 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 77%, transparent 77%); }
#custom-media.progress-78 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 78%, transparent 78%); }
#custom-media.progress-79 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 79%, transparent 79%); }
#custom-media.progress-80 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 80%, transparent 80%); }
#custom-media.progress-81 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 81%, transparent 81%); }
#custom-media.progress-82 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 82%, transparent 82%); }
#custom-media.progress-83 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 83%, transparent 83%); }
#custom-media.progress-84 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 84%, transparent 84%); }
#custom-media.progress-85 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 85%, transparent 85%); }
#custom-media.progress-86 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 86%, transparent 86%); }
#custom-media.progress-87 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 87%, transparent 87%); }
#custom-media.progress-88 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 88%, transparent 88%); }
#custom-media.progress-89 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 89%, transparent 89%); }
#custom-media.progress-90 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 90%, transparent 90%); }
#custom-media.progress-91 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 91%, transparent 91%); }
#custom-media.progress-92 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 92%, transparent 92%); }
#custom-media.progress-93 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 93%, transparent 93%); }
#custom-media.progress-94 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 94%, transparent 94%); }
#custom-media.progress-95 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 95%, transparent 95%); }
#custom-media.progress-96 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 96%, transparent 96%); }
#custom-media.progress-97 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 97%, transparent 97%); }
#custom-media.progress-98 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 98%, transparent 98%); }
#custom-media.progress-99 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 99%, transparent 99%); }
#custom-media.progress-100 { background-image: linear-gradient(180deg, @background 94%, transparent 6%), linear-gradient(90deg, currentColor 100%, transparent 100%); }

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces {
  padding: 6px 11px;
}

#workspaces button {
    color: @gray;
    opacity: 0.7;
    padding: 0 5px;
    border-radius: 2px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    color: @foreground;
}

#workspaces button.active {
    opacity: 1;
    color: @background;
    background-color: @accent;
    /* box-shadow: inset 0 -2px @accent; */
}

#workspaces > button + button {
  margin-left: 3px;
}

@keyframes urgent_blink {
  to {
    opacity: 0.2;
  }
}

#workspaces button.urgent {
    color: @orange;
    animation-name: urgent_blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#mode {
    background-color: #64727D;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    background-color: @background;
    color: @foreground;
}

#battery.charging,
#battery.plugged {
    background-color: @background;
    color: @blue;
}

@keyframes battery_blink {
    to {
        background-color: @foreground;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @background;
    color: @critical;
    animation-name: battery_blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    background-color: @background;
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    color: @pink;
}

#power-profiles-daemon.balanced {
    color: @yellow;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: @cyan;
}

#memory {
    color: @blue;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: @critical;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: @critical;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: @critical;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @critical;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: @critical;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
